*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

html {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 300; }

.is-bold {
  color: #151f29;
  font-weight: 700; }

.is-hidden {
  display: none; }

.is-invalid {
  border: 1px solid #ff5263 !important; }

.is-error {
  color: #ff5263; }

.container {
  margin: 0 auto;
  margin-top: 60px;
  padding: 1rem;
  width: 90%; }
  .container .container__main {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container .container__main .main__text {
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: space-between;
      margin: 40px 0 20px 0; }
      @media (min-width: 1440px) {
        .container .container__main .main__text {
          height: 100px;
          justify-content: space-around; } }
    .container .container__main form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-height: 110px; }
      @media (min-width: 1440px) {
        .container .container__main form {
          align-self: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 800px;
          width: 100%; } }
  .container .landing__logo {
    display: flex;
    justify-content: center; }
  .container .container__illustration {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 50px; }
  .container footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around; }
    .container footer .footer__icons {
      align-self: center;
      display: flex;
      justify-content: space-evenly;
      width: 80%; }
      @media (min-width: 1440px) {
        .container footer .footer__icons {
          width: 250px; } }

.landing__logo img {
  height: 20px; }
  @media (min-width: 1440px) {
    .landing__logo img {
      height: 30px; } }

.title {
  color: #969696;
  font-size: 1.6rem; }
  @media (min-width: 1440px) {
    .title {
      font-size: 2.4rem; } }

.subtitle {
  font-size: 1rem; }

.emailInput, .is-invalid {
  align-self: center;
  border: 1px solid #c2d3ff;
  border-radius: 20px;
  padding: 0.75rem 1.4rem;
  width: 90%; }
  @media (min-width: 1440px) {
    .emailInput, .is-invalid {
      border-radius: 35px;
      width: 73%;
      padding: 1rem 1.5rem; } }

::placeholder {
  color: #c2d3ff; }

.form__helper {
  display: block; }

.form__btn {
  align-self: center;
  background-color: #4f7df3;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 0px #c2d3ff;
  color: white;
  font-weight: 600;
  padding: 0.8rem;
  width: 90%; }
  .form__btn:hover {
    background-color: #7195f5; }
  @media (min-width: 1440px) {
    .form__btn {
      border-radius: 35px;
      width: 25%;
      padding: 1rem; } }

.form__help {
  font-size: small;
  font-style: italic;
  margin: 12px 0; }
  @media (min-width: 1440px) {
    .form__help {
      order: 1;
      margin-left: 1.1rem; } }

.container__illustration img {
  align-self: center;
  width: 100%; }
  @media (min-width: 1440px) {
    .container__illustration img {
      width: 800px; } }

footer {
  text-align: center; }
  footer .footer__icons {
    color: #4f7df3; }
  footer p {
    color: #969696;
    font-size: 12px; }
